*{
    margin:0;
    padding: 0;
}
body{
    font-size:13px;
    color:#eee;
    font-family:Arial, Helvetica, sans-serif;
    background: #718693;
    min-width: 1000px;
}

.container{
    width:620px;
    margin: 100px auto 0;
}

#optionsContainer{
    width:420px;
    height:36px;
    float:left;
    margin-right:12px;
    margin-top: 10px;
    clear:both;
}

#searchForm{
    background-color: #4c5a65;
    padding: 50px 50px 30px;
    margin:80px 0;
    position: relative;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

fieldset{
    border:none;
}
#search{
    border:none;
    color: #888888;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    height:36px;
    line-height:36px;
    margin-right:12px;
    outline:medium none;
    padding:0 0 0 35px;
    text-shadow:1px 1px 0 white;
    width:385px;

}

#btnSearch{
    background:url('../img/buttons.png') no-repeat;
    width:83px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
    text-transform: uppercase;
    border:none;
    cursor: pointer
}

.etsyresult{
    text-shadow: 1px 1px 0 #586a75;
    margin-bottom: 50px;
    background-color: #5d6f78;
}

.etsyresult h2{
    font-size: 18px;
}

.etsyresult .description{
    margin:20px;
    padding:20px;
}

#savedwrapper{
    position:absolute;
    top:0;
    left: 20px;
}

#savedsearches{
    list-style: none;
}

#savedsearches li a{
    padding:10px;
    font-weight: bold;
}
#savedsearches >li>button{
    cursor:pointer;
}
#savedsearches li a:hover{
    color: orangered;
    cursor:pointer;
}